<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Trixter.XDream.Diagnostics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Trixter.XDream.Diagnostics.Properties.Settings>
            <setting name="LastUpdateCheckDateUtc" serializeAs="String">
                <value>2026-01-01</value>
            </setting>
            <setting name="AutomaticUpdateChecksEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdateIntervalCheckDays" serializeAs="String">
                <value>14</value>
            </setting>
        </Trixter.XDream.Diagnostics.Properties.Settings>
    </userSettings>
</configuration>